// Scss Document
$font-size-regular:14;
$border-radius-button:40;
$height-button:44;
$padding-button:0 20;

:root{
	--color-white:#FFFFFF;
	--color-green:#46BB22;
	--color-dark:#2C2C2C;
	--color-beige:#FAE390;
	
	--border-radius:50px;
	--border:2px solid var(--color-white);
	
	--font-family-roboto:"Roboto", sans-serif;
	--section-padding-y:50px;
	
}




